@{
    ViewBag.Title = "Sistema de Cadastro de Restaurante";
}

<div class="panel-default">
    <div class="body-content">
        <div class="row">
            <div class="col-md-12 col-xs-12" align="center">
                <figure>
                    <img src=" ~/Content/Imagens/restaurante.jpg" alt="Imagem do Restaurante" titulo="Restaurante" width="720" heiht="500" />
                </figure>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2 align="center">Sistema de Cadastro de Restaurantes</h2>
        </div>
    </div>
</div>